 .u-section-1 {
  background-image: linear-gradient(black, #5c9ca8);
}

.u-section-1 .u-sheet-1 {
  min-height: 431px;
}

.u-section-1 .u-text-1 {
  margin: 123px 104px 0 711px;
}

.u-section-1 .u-image-1 {
  width: 395px;
  height: 395px;
  background-image: url("images/undersea.jpg");
  background-position: 50% 50%;
  margin: -213px auto 18px 175px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 4px;
    margin-left: 611px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 149px;
    margin-right: 0;
    margin-left: 395px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -118px;
    margin-bottom: 39px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 125px;
    margin-right: -12px;
    margin-left: 227px;
  }

  .u-section-1 .u-image-1 {
    width: 324px;
    height: 324px;
    margin-top: 8px;
    margin-bottom: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 63px;
    margin-right: -23px;
    margin-left: 115px;
  }

  .u-section-1 .u-image-1 {
    width: 295px;
    height: 295px;
    margin-top: 26px;
    margin-left: auto;
    margin-bottom: 39px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 894px;
}

.u-section-2 .u-tabs-1 {
  min-height: 625px;
  margin-top: 60px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-2 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-2 .u-tab-link-4 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  padding: 10px 25px;
}

.u-section-2 .u-tab-pane-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  line-height: 1.8;
  font-style: italic;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-2 .u-custom-html-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-tab-pane-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  font-size: 1.125rem;
  font-style: italic;
  margin: 0;
}

.u-section-2 .u-custom-html-2 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-tab-pane-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.125rem;
  font-style: italic;
}

.u-section-2 .u-custom-html-3 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-tab-pane-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  font-family: Poppins;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.125rem;
  font-style: italic;
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1744px;
  }

  .u-section-2 .u-tabs-1 {
    min-height: 1582px;
  }

  .u-section-2 .u-custom-html-2 {
    height: auto;
    min-height: 714px;
  }
}
